

<div class="container">

 
<div class="row">
{% for link in linklists.blogs.links %}
     
  {% assign blog = link.object %}
 {% for article in blog.articles %}

    
    <div class="col-sm-4">
        <a href="{{ blog.url }}">
        
          <div class="category-wrap">
          <div class="row">
            <div class="link-title-wrap">
             {{ link.title }}
            </div>
            <div class="blog-title-wrap">
            {{ blog.title }}
            </div>
            </div>
        </div>
        </a>
    </div>
 



  {% endfor %} 
  {% endfor %}

</div>

</div>

<style>
.category-wrap{
    margin: 15px 0;
    text-align: left;
    background-color: #fff;
    padding: 1em;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.link-title-wrap{
    width: 100px;
    height: 70px;
    text-align: center
}
.link-title-wrap .fa {
    font-size: 70px;
}    
</style>


