

<div class="container">

<header class="blog-page-heading">
      <h1>BLOG TOPICS</h1>
</header>
 
<div class="row">
{% for link in linklists.blogs.links %}
     
 {% assign blog = link.object %}



    
    <div class="col-sm-4">
        <a class="link-container-category" href="{{ blog.url }}">
        
          <div class="category-wrap">
          <div class="row">
            <div class="blog-link-title-wrap">
             {{ link.title }}
            </div>
            <div class="category-details">
                    <div class="blog-title-wrap">
                    {{ blog.title }}
                    </div>
                    <div class="blog-count-wrap">
                    {{ blog.articles_count }}  posts
                    </div>
            </div>     
            </div>
        </div>
        </a>
    </div>
 

  {% endfor %}

</div>

</div>

<style>
 
</style>


