<div class="grid-image scrtion">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 no-padding-center" >
            <div class="part-image-wrap">
                <img src="{{ section.settings.first_grid_image | img_url: 'master' }}">
            </div>
            </div>
            <div class="col-sm-6 no-padding-center grid-iamge-text" style="background:url('{{ section.settings.grid_bg  | img_url: 'master'}}')" >
            <div class="text-content-wrap">
            <h2>Women's Sportswear</h2>
                <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                </p>
                <a href="/collections/womens" class="btn slideshow__btn grid_btn" data-theme-editor-setting="" tabindex="0" style="background:#1ea5de;">
                Shop Now
                </a>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 no-padding-center grid-iamge-text order-2 order-sm-6 order-md-6"    style="background:url('{{ section.settings.grid_bg  | img_url: 'master'}}')" >
            <div class="text-content-wrap">
                <h2>Mens's Sportswear</h2>
                    <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                    </p>
                    <a href="/collections/mens" class="btn slideshow__btn grid_btn" data-theme-editor-setting="" tabindex="0" style="background:#1ea5de;">
                    Shop Now
                    </a>
                </div>
            </div>
            <div class="col-sm-6 no-padding-center order-1 order-sm-6 order-md-6" >
                <div class="part-image-wrap">
                    <img src="{{ section.settings.second_grid_image | img_url: 'master' }}">
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %} 
{
  "name": " Single Grid image text",
  "settings":[
          {
            "id":"first_grid_image",
            "type":"image_picker",
            "label":"First grid image"
          },          
            {
            "id":"second_grid_image",
            "type":"image_picker",
             "label":"Second grid image"
          },
             {
            "id":"side_grid_image",
            "type":"image_picker",
             "label":"Side grid image"
          },
          {
            "id":"grid_bg",
            "type":"image_picker",
             "label":"Background"
          }

     
          
         ],
  "presets": [{
      "name": "Single Grid image text",
      "category": "Collection"      
    }]
}
{% endschema %}


<style>

</style>