{% include 'LS_5906464808_global' %}
<!-- /templates/404.liquid -->

<header class="section-header section-header--404 text-center">
  <h1>{% include 'LS_5906464808_locales', LS_locales_item: 'general.404.title',   %}{% if LS_5906464808_locales_value == '' %}{{ 'general.404.title' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}</h1>
  <hr class="hr--small">
  <p>{% include 'LS_5906464808_locales', LS_locales_item: 'general.404.subtext_html',   %}{% if LS_5906464808_locales_value == '' %}{{ 'general.404.subtext_html' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}</p>
</header>
