{% include 'LS_5906464808_global' %}
<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{% include 'LS_5906464808_title', item: page %}{{ LS_5906464808_item_title  }}</h1>
      <hr class="hr--small">
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {% include 'LS_5906464808_content', item: page %}{{ LS_5906464808_item_content  }}
        </div>
      </div>
    </div>

  </div>
</div>
{% comment %} {% section 'slideshow' %} {% endcomment %}