{% include 'LS_5906464808_global' %}
<!-- /templates/page.full-width.liquid -->
<header class="section-header text-center">
  <h1>{% include 'LS_5906464808_title', item: page %}{{ LS_5906464808_item_title  }}</h1>
  <hr class="hr--small">
</header>

<div class="rte">
  {% include 'LS_5906464808_content', item: page %}{{ LS_5906464808_item_content  }}
</div>
